# Laravel & PHP
/vendor/
/.env
.env.*
/.phpunit.result.cache
Homestead.yaml
Homestead.json

# Laravel storage
/public/storage
/storage/*.key

# Node / JS
/node_modules/
/npm-debug.log
/yarn-error.log
/pnpm-debug.log*

# IDE / OS
/.idea
/.vscode
.DS_Store
Thumbs.db
